<!-- sideNav -->
<mat-drawer-container class="mat-drawer-container" autosize>

    <!-- mit (opened aus md true bleibt das menu immer offen) -->
    <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
        <div class="logoContainer">
            PLATZ FÜR DAS LOGO
        </div>
        <ul>
            <li>
                <mat-icon>perm_identity</mat-icon>Dashboard
            </li>
            <li>User</li>
        </ul>
    </mat-drawer>

    <!-- toolbar aus material Design -->
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <!-- icon für das menu -->
                <mat-icon class="menuIcon" (click)="drawer.toggle()">menu</mat-icon>


                <span>Simple CRM</span>
            </mat-toolbar-row>
        </mat-toolbar>


    </div>

</mat-drawer-container>