<!--vid23 1.detailansicht user -->
<mat-card class="userDetailHeader">
    <!-- menu zum bearbeiten -->
    <button mat-icon-button class="pinRightUpperCorner" [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button >
    <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="editUserDetails()">Edit</button>
    </mat-menu>
    <img src="./assets/img/profile.png" alt="">

    <div class="userDetails">
        <!-- vid.26 6 daten die aus der db ausgelesen werden sollen -->
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        {{user.eMail}}
    </div>

</mat-card>

<!-- vid24 adress card -->

<mat-card class="mt-32">
    <!-- 27.Vid. 1 icon aus material Design -->
    <!-- vid 28. 2 verknüpfen des menus -->
    <button mat-icon-button class="pinRightUpperCorner" [matMenuTriggerFor]="addressMenu">
    <mat-icon>more_vert</mat-icon>
</button >

<!-- v28. 1. menu aus angulat material design einfügen -->
<mat-menu #addressMenu="matMenu">
    <!-- 28. 4. click button und funktion -->
    <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>
    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
        <!-- vid.26 6 daten die aus der db ausgelesen werden sollen -->
        {{user.street}} <br> {{user.zipCode}} {{user.city}}
    </mat-card-content>
</mat-card>