<!-- button aus md-->

<!-- caddModule -->
<mat-card>
    <table class="userTable">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <!-- soll angezeigt werden, für jeden user -->
        <!-- vid 20 id aus db herausfinden rl -->
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.eMail}}</td>
            <td>{{user.city}}</td>
        </tr>




    </table>
</mat-card>

<button (click)="openDialog()" class="addUserButton" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
  </button>